@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

*{
  padding: 0;
  margin: 0;
}
.header1{
  font-family: 'Zen Dots', Arial, Helvetica, sans-serif;
}

.header2{
  font-family: 'Alegreya', serif;;
}

.btn1{
  font-family: 'Lato', sans-serif;
}
.color1{
  color: rgb(19, 145, 138);
}
.bg1{
  background-color: aliceblue;
}

.list-group-item{
  background-color: aliceblue !important;
  font-family: 'Alegreya Sans', serif;
}

.list-group-item h5{
  margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
  .navbar-brand{
    font-size: 1.1rem !important;
  }
  .navbar-brand img{
    width: 30px !important;
    height: 30px !important;
  }
  .load{
    font-size: smaller;
  }
}